<section class="container py-5">
    <h2 class="text-center fw-bold mb-5">Nuestras Categorías</h2>
    <div class="row g-4">
    <!-- Categoría -->
        <div class="col-12 col-md-6">
            <div class="category-card pokemones-card shadow position-relative">
            <div class="category-overlay position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-end">
                <div class="p-4 text-white">
                <h3 class="h4 fw-bold">Pokemones</h3>
                <a class="btn custom-btn btn-lg px-5" href="/categoria/pokemones">Ver productos</a>
                </div>
            </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="category-card energias-card shadow position-relative">
            <div class="category-overlay position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-end">
                <div class="p-4 text-white">
                <h3 class="h4 fw-bold">Energias</h3>
                <a href="/categoria/energias" class="btn custom-btn btn-lg px-5">Ver productos</a>
                </div>
            </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="category-card partidario-card shadow position-relative">
            <div class="category-overlay position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-end">
                <div class="p-4 text-white">
                <h3 class="h4 fw-bold">Partidario</h3>
                <a href="/categoria/partidario" class="btn custom-btn btn-lg px-5">Ver productos</a>
                </div>
            </div>
            </div>
        </div>
            
        <div class="col-12 col-md-6">
            <div class="category-card apoyos-card shadow position-relative">
            <div class="category-overlay position-absolute top-0 start-0 end-0 bottom-0 d-flex align-items-end">
                <div class="p-4 text-white">
                <h3 class="h4 fw-bold">Apoyos</h3>
                <a href="/categoria/apoyo" class="btn custom-btn btn-lg px-5">Ver productos</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
